.barOpen {
    z-index: 4;
    position: fixed;
    top:30px;
    left: 20px;
    height: 40px;
    width: 40px;
    background-color: #047701;
    color: white;
    border-radius: 10px;
    border-color: #047701;
    box-shadow: none;
}

.barOpen:hover {
    background-color: #035300;
    border-color: #035300;
    color: rgb(170, 170, 170);
}

.menuIcon {
    position: absolute;
    top: 8px;
    right: 8px;
}

#mapComponent {
    height: 100vh;
    width: 100%;
    z-index: 0;
    top: 0;
    position: fixed;
}

.SideBar {
    width: 70%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    height: 85%;
    background-color: #e8e8e8;
    border-bottom-right-radius: 10px;
}

.userSec {
    margin-top: 30px;
    margin-left: 30px;
    height: 100px;
}

.userNameSec {
    padding: 20px;
    padding-left: 0px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
}

.profilePhoto {
    height: 80px;
    font-size: large;
    color: white;
}

.userName {
    position: relative;
    top:6px;
    display: inline;
    font-size: 25px;
    font-weight: 700;
}

.loginIcon {
    font-size: 30px;
    margin: 10px;
    position: absolute;
    display: inline;
    transform: translate(1px, -5px);
    
}

.blackback {
    background-color: black;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 40%;
}

.menu {
    margin-top: 80px;
    width: 100%
}

.timetableSelection {
    margin-top: 20px;
    border-width: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top-width: 1px;
    border-color: black;
    border-style: solid;
    padding-left: 30px;
    background-color: #d9d9d9;
    font-size: 20px;
}

.friendSelection {
    padding-top: 15px;
    padding-bottom: 20px;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: black;
    border-style: solid;
    padding-left: 30px;
    background-color: #d9d9d9;
    font-size: 20px;
}

.listIcon {
    transform: translate(0, 5px);
}

/* Search Panel Part*/

.searchOpen {
    z-index: 3;
    position: fixed;
    top: 80px;
    left: 20px;
    height: 40px;
    width: 40px;
    background-color: #047701;
    color: white;
    border-radius: 10px;
    border-color: #047701;
    box-shadow: none;
}

.searchOpen:hover {
    background-color: #035300;
    border-color: #035300;
    color: rgb(170, 170, 170);
}

.blackback2 {
    background-color: black;
    z-index: 9;
    height: 100vh;
    width: 100vw;
    position: fixed;
    opacity: 40%;
}

.SearchPanel {
    z-index: 10;
    position: fixed;
    top: 20%;
    left: 25px;
    right: 25px;
    width: calc(100%-50px);
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 30px;
    padding-top: 20px;
    min-width: 250px;
    font-weight: bold;

}

.cancel {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 40px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    border-color: #e8e8e8;
    background-color: #e8e8e8;
    color: #047701;
}

.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: calc(100%/2) calc(100%/2);
    grid-template-rows: 50px 50px 50px;
    text-align: left;
    font-weight: 400;
}

.facItem {
    height: 30px;
}

.textInput {
    width: calc(100% - 20px);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #047701;
    background-color: #e8e8e8;
    padding: 10px;
    box-shadow: #d9d9d9;
}

.textInput:focus {
    color: #047701;
    font-weight: 500;
    box-shadow: 0,0,0,3px, #10e009;
}

.buttonContainer {
    width: 100%;
    text-align: center;
}

.submit {
    width: calc(50% - 20px);
    height: 40px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    border-color: #047701;
    background-color: #047701;
    color: #d9d9d9;
    font-weight:bolder
}

.submit:hover {
    background-color: #035300;
}



